# remove the tracking of songbird-grid-search and songbird-optimized-models, it should only be saved on the office machine.
data/diff-analysis-new/songbird-grid-search
data/diff-analysis-new/songbird-archive

# remove tracking of the betadiversity files because they are too big to host on github
data/beta-diversity/

**/.Rhistory
